# Build outputs
.next/
out/
build/
dist/
coverage/

# Dependencies
node_modules/

# Storybook build
storybook-static/

# Misc
package-lock.json
renovate.json
tools/prompts/*


# Temporary disabled files

# __tests__/lib/utils/time.test.ts
# lib/api/prototypes.test.ts
