.makers-rhythm-bar {
  height: 0%;
  position: relative;
  transition: height 0.5s ease;
}

.makers-rhythm-bar--0 {
  height: 0%;
}
.makers-rhythm-bar--1 {
  height: 1%;
}
.makers-rhythm-bar--2 {
  height: 2%;
}
.makers-rhythm-bar--3 {
  height: 3%;
}
.makers-rhythm-bar--4 {
  height: 4%;
}
.makers-rhythm-bar--5 {
  height: 5%;
}
.makers-rhythm-bar--6 {
  height: 6%;
}
.makers-rhythm-bar--7 {
  height: 7%;
}
.makers-rhythm-bar--8 {
  height: 8%;
}
.makers-rhythm-bar--9 {
  height: 9%;
}
.makers-rhythm-bar--10 {
  height: 10%;
}
.makers-rhythm-bar--11 {
  height: 11%;
}
.makers-rhythm-bar--12 {
  height: 12%;
}
.makers-rhythm-bar--13 {
  height: 13%;
}
.makers-rhythm-bar--14 {
  height: 14%;
}
.makers-rhythm-bar--15 {
  height: 15%;
}
.makers-rhythm-bar--16 {
  height: 16%;
}
.makers-rhythm-bar--17 {
  height: 17%;
}
.makers-rhythm-bar--18 {
  height: 18%;
}
.makers-rhythm-bar--19 {
  height: 19%;
}
.makers-rhythm-bar--20 {
  height: 20%;
}
.makers-rhythm-bar--21 {
  height: 21%;
}
.makers-rhythm-bar--22 {
  height: 22%;
}
.makers-rhythm-bar--23 {
  height: 23%;
}
.makers-rhythm-bar--24 {
  height: 24%;
}
.makers-rhythm-bar--25 {
  height: 25%;
}
.makers-rhythm-bar--26 {
  height: 26%;
}
.makers-rhythm-bar--27 {
  height: 27%;
}
.makers-rhythm-bar--28 {
  height: 28%;
}
.makers-rhythm-bar--29 {
  height: 29%;
}
.makers-rhythm-bar--30 {
  height: 30%;
}
.makers-rhythm-bar--31 {
  height: 31%;
}
.makers-rhythm-bar--32 {
  height: 32%;
}
.makers-rhythm-bar--33 {
  height: 33%;
}
.makers-rhythm-bar--34 {
  height: 34%;
}
.makers-rhythm-bar--35 {
  height: 35%;
}
.makers-rhythm-bar--36 {
  height: 36%;
}
.makers-rhythm-bar--37 {
  height: 37%;
}
.makers-rhythm-bar--38 {
  height: 38%;
}
.makers-rhythm-bar--39 {
  height: 39%;
}
.makers-rhythm-bar--40 {
  height: 40%;
}
.makers-rhythm-bar--41 {
  height: 41%;
}
.makers-rhythm-bar--42 {
  height: 42%;
}
.makers-rhythm-bar--43 {
  height: 43%;
}
.makers-rhythm-bar--44 {
  height: 44%;
}
.makers-rhythm-bar--45 {
  height: 45%;
}
.makers-rhythm-bar--46 {
  height: 46%;
}
.makers-rhythm-bar--47 {
  height: 47%;
}
.makers-rhythm-bar--48 {
  height: 48%;
}
.makers-rhythm-bar--49 {
  height: 49%;
}
.makers-rhythm-bar--50 {
  height: 50%;
}
.makers-rhythm-bar--51 {
  height: 51%;
}
.makers-rhythm-bar--52 {
  height: 52%;
}
.makers-rhythm-bar--53 {
  height: 53%;
}
.makers-rhythm-bar--54 {
  height: 54%;
}
.makers-rhythm-bar--55 {
  height: 55%;
}
.makers-rhythm-bar--56 {
  height: 56%;
}
.makers-rhythm-bar--57 {
  height: 57%;
}
.makers-rhythm-bar--58 {
  height: 58%;
}
.makers-rhythm-bar--59 {
  height: 59%;
}
.makers-rhythm-bar--60 {
  height: 60%;
}
.makers-rhythm-bar--61 {
  height: 61%;
}
.makers-rhythm-bar--62 {
  height: 62%;
}
.makers-rhythm-bar--63 {
  height: 63%;
}
.makers-rhythm-bar--64 {
  height: 64%;
}
.makers-rhythm-bar--65 {
  height: 65%;
}
.makers-rhythm-bar--66 {
  height: 66%;
}
.makers-rhythm-bar--67 {
  height: 67%;
}
.makers-rhythm-bar--68 {
  height: 68%;
}
.makers-rhythm-bar--69 {
  height: 69%;
}
.makers-rhythm-bar--70 {
  height: 70%;
}
.makers-rhythm-bar--71 {
  height: 71%;
}
.makers-rhythm-bar--72 {
  height: 72%;
}
.makers-rhythm-bar--73 {
  height: 73%;
}
.makers-rhythm-bar--74 {
  height: 74%;
}
.makers-rhythm-bar--75 {
  height: 75%;
}
.makers-rhythm-bar--76 {
  height: 76%;
}
.makers-rhythm-bar--77 {
  height: 77%;
}
.makers-rhythm-bar--78 {
  height: 78%;
}
.makers-rhythm-bar--79 {
  height: 79%;
}
.makers-rhythm-bar--80 {
  height: 80%;
}
.makers-rhythm-bar--81 {
  height: 81%;
}
.makers-rhythm-bar--82 {
  height: 82%;
}
.makers-rhythm-bar--83 {
  height: 83%;
}
.makers-rhythm-bar--84 {
  height: 84%;
}
.makers-rhythm-bar--85 {
  height: 85%;
}
.makers-rhythm-bar--86 {
  height: 86%;
}
.makers-rhythm-bar--87 {
  height: 87%;
}
.makers-rhythm-bar--88 {
  height: 88%;
}
.makers-rhythm-bar--89 {
  height: 89%;
}
.makers-rhythm-bar--90 {
  height: 90%;
}
.makers-rhythm-bar--91 {
  height: 91%;
}
.makers-rhythm-bar--92 {
  height: 92%;
}
.makers-rhythm-bar--93 {
  height: 93%;
}
.makers-rhythm-bar--94 {
  height: 94%;
}
.makers-rhythm-bar--95 {
  height: 95%;
}
.makers-rhythm-bar--96 {
  height: 96%;
}
.makers-rhythm-bar--97 {
  height: 97%;
}
.makers-rhythm-bar--98 {
  height: 98%;
}
.makers-rhythm-bar--99 {
  height: 99%;
}
.makers-rhythm-bar--100 {
  height: 100%;
}
