.prototype-status-bar-segment {
  width: 0%;
  transition: width 0.5s ease;
}

.prototype-status-width-0 {
  width: 0%;
}
.prototype-status-width-1 {
  width: 1%;
}
.prototype-status-width-2 {
  width: 2%;
}
.prototype-status-width-3 {
  width: 3%;
}
.prototype-status-width-4 {
  width: 4%;
}
.prototype-status-width-5 {
  width: 5%;
}
.prototype-status-width-6 {
  width: 6%;
}
.prototype-status-width-7 {
  width: 7%;
}
.prototype-status-width-8 {
  width: 8%;
}
.prototype-status-width-9 {
  width: 9%;
}
.prototype-status-width-10 {
  width: 10%;
}
.prototype-status-width-11 {
  width: 11%;
}
.prototype-status-width-12 {
  width: 12%;
}
.prototype-status-width-13 {
  width: 13%;
}
.prototype-status-width-14 {
  width: 14%;
}
.prototype-status-width-15 {
  width: 15%;
}
.prototype-status-width-16 {
  width: 16%;
}
.prototype-status-width-17 {
  width: 17%;
}
.prototype-status-width-18 {
  width: 18%;
}
.prototype-status-width-19 {
  width: 19%;
}
.prototype-status-width-20 {
  width: 20%;
}
.prototype-status-width-21 {
  width: 21%;
}
.prototype-status-width-22 {
  width: 22%;
}
.prototype-status-width-23 {
  width: 23%;
}
.prototype-status-width-24 {
  width: 24%;
}
.prototype-status-width-25 {
  width: 25%;
}
.prototype-status-width-26 {
  width: 26%;
}
.prototype-status-width-27 {
  width: 27%;
}
.prototype-status-width-28 {
  width: 28%;
}
.prototype-status-width-29 {
  width: 29%;
}
.prototype-status-width-30 {
  width: 30%;
}
.prototype-status-width-31 {
  width: 31%;
}
.prototype-status-width-32 {
  width: 32%;
}
.prototype-status-width-33 {
  width: 33%;
}
.prototype-status-width-34 {
  width: 34%;
}
.prototype-status-width-35 {
  width: 35%;
}
.prototype-status-width-36 {
  width: 36%;
}
.prototype-status-width-37 {
  width: 37%;
}
.prototype-status-width-38 {
  width: 38%;
}
.prototype-status-width-39 {
  width: 39%;
}
.prototype-status-width-40 {
  width: 40%;
}
.prototype-status-width-41 {
  width: 41%;
}
.prototype-status-width-42 {
  width: 42%;
}
.prototype-status-width-43 {
  width: 43%;
}
.prototype-status-width-44 {
  width: 44%;
}
.prototype-status-width-45 {
  width: 45%;
}
.prototype-status-width-46 {
  width: 46%;
}
.prototype-status-width-47 {
  width: 47%;
}
.prototype-status-width-48 {
  width: 48%;
}
.prototype-status-width-49 {
  width: 49%;
}
.prototype-status-width-50 {
  width: 50%;
}
.prototype-status-width-51 {
  width: 51%;
}
.prototype-status-width-52 {
  width: 52%;
}
.prototype-status-width-53 {
  width: 53%;
}
.prototype-status-width-54 {
  width: 54%;
}
.prototype-status-width-55 {
  width: 55%;
}
.prototype-status-width-56 {
  width: 56%;
}
.prototype-status-width-57 {
  width: 57%;
}
.prototype-status-width-58 {
  width: 58%;
}
.prototype-status-width-59 {
  width: 59%;
}
.prototype-status-width-60 {
  width: 60%;
}
.prototype-status-width-61 {
  width: 61%;
}
.prototype-status-width-62 {
  width: 62%;
}
.prototype-status-width-63 {
  width: 63%;
}
.prototype-status-width-64 {
  width: 64%;
}
.prototype-status-width-65 {
  width: 65%;
}
.prototype-status-width-66 {
  width: 66%;
}
.prototype-status-width-67 {
  width: 67%;
}
.prototype-status-width-68 {
  width: 68%;
}
.prototype-status-width-69 {
  width: 69%;
}
.prototype-status-width-70 {
  width: 70%;
}
.prototype-status-width-71 {
  width: 71%;
}
.prototype-status-width-72 {
  width: 72%;
}
.prototype-status-width-73 {
  width: 73%;
}
.prototype-status-width-74 {
  width: 74%;
}
.prototype-status-width-75 {
  width: 75%;
}
.prototype-status-width-76 {
  width: 76%;
}
.prototype-status-width-77 {
  width: 77%;
}
.prototype-status-width-78 {
  width: 78%;
}
.prototype-status-width-79 {
  width: 79%;
}
.prototype-status-width-80 {
  width: 80%;
}
.prototype-status-width-81 {
  width: 81%;
}
.prototype-status-width-82 {
  width: 82%;
}
.prototype-status-width-83 {
  width: 83%;
}
.prototype-status-width-84 {
  width: 84%;
}
.prototype-status-width-85 {
  width: 85%;
}
.prototype-status-width-86 {
  width: 86%;
}
.prototype-status-width-87 {
  width: 87%;
}
.prototype-status-width-88 {
  width: 88%;
}
.prototype-status-width-89 {
  width: 89%;
}
.prototype-status-width-90 {
  width: 90%;
}
.prototype-status-width-91 {
  width: 91%;
}
.prototype-status-width-92 {
  width: 92%;
}
.prototype-status-width-93 {
  width: 93%;
}
.prototype-status-width-94 {
  width: 94%;
}
.prototype-status-width-95 {
  width: 95%;
}
.prototype-status-width-96 {
  width: 96%;
}
.prototype-status-width-97 {
  width: 97%;
}
.prototype-status-width-98 {
  width: 98%;
}
.prototype-status-width-99 {
  width: 99%;
}
.prototype-status-width-100 {
  width: 100%;
}

.prototype-status-color-1 {
  background-color: #dda424; /* Idea */
}

.prototype-status-color-2 {
  background-color: #96e563; /* Developing */
}

.prototype-status-color-3 {
  background-color: #02adbc; /* Completed */
}

.prototype-status-color-4 {
  background-color: #ca72d3; /* Memorial/Kuyo */
}

.prototype-status-color-default {
  background-color: #64748b;
}
